/* Elementos 3D - Anéis e sombras */
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.ring {
    position: absolute;
    border-radius: 50%;
    border: 15px solid #e57373;
    background: radial-gradient(circle at center, rgba(255, 0, 0, 0.2), transparent);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
    animation: float 6s infinite ease-in-out alternate;
}

.ring2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 30px solid #e57373;
    top: 10%;
    left: 10%;
    animation-delay: 1s;
}

.ring3 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    bottom: 10%;
    right: 15%;
    animation-delay: 2s;
}

.ring4 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 30px solid #e57373;
    top: 10%;
    left: 50%;
    animation-delay: 1s;
}

.ring5 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    bottom: 60%;
    right: 15%;
    animation-delay: 2s;
}

.ring6 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 30px solid #e57373;
    top: 70%;
    left: 18%;
    animation-delay: 1s;
}

.ring7 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #e57373;
    bottom: 30%;
    right: 80%;
    animation-delay: 2s;
}

@keyframes float {
    0% { transform: translateY(0px); }
    100% { transform: translateY(20px); }
}

@media (max-width: 1024px) {
    .ring {
        border-width: 10px;
    }
    .ring2, .ring3, .ring4, .ring5, .ring6, .ring7 {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 768px) {
    .ring {
        border-width: 8px;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    }

    .ring2, .ring3, .ring4, .ring5 {
        width: 50%;
        height: 50%;
    }

    .ring6, .ring7 {
        display: none;
    }

    .ring2 { top: 5%; left: 5%; }
    .ring3 { bottom: 5%; right: 10%; }
    .ring4 { top: 5%; left: 40%; }
    .ring5 { bottom: 40%; right: 10%; }
}

@media (max-width: 480px) {
    .ring {
        border-width: 6px;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    }

    .ring2, .ring4, .ring3, .ring5, .ring6{
        width: 39%;
        height: 21%;
    }

    .ring5, .ring7 {
        display: none;
    }

    .ring2 { top: 3%; left: 3%; }
    .ring3 { bottom: 3%; right: 5%; }
    .ring4 { top: 3%; left: 30%; }
}
